<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ELEVENLABS_API_KEY</key>
	<string>YOUR_API_KEY_HERE</string>
	<key>ELEVENLABS_VOICE_ID</key>
	<string>21m00Tcm4TlvDq8ikWAM</string>
	<key>ELEVENLABS_MODEL_ID</key>
	<string>eleven_turbo_v2_5</string>
</dict>
</plist>
